html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 50px;
}
body > .container {
    padding: 20px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

.table-transparent-bg {
    --bs-table-bg: transparent;
}
